<header class="bg-dark py-5">
	<div class="container px-4 px-lg-5 my-3">
		<div class="text-center text-white">
			<img src="{{ asset('img/headerimages.jpg') }}" width="1300">
			<p class="lead fw-normal text-white-50 mb-2">Welcome to sabbah annonce</p>
		</div>
	</div>
</header>
